body{
    height:80%;
    width:80%;
    display: flex;
    position:absolute;
    background-color: cornflowerblue;
    justify-content: center;
}
span{
    top:5%;
    font-size: 30px;
    display: inline-block;
    position:absolute;
    background-color: chocolate;
   
}
.bodyCalc{
    
    position:absolute;
    top: 20%;
}
.valueOne,.selectAction,.valueTwo,.result{
    font-size: 20px;
}
.pushButton{
    font-size: 20px;
    position: relative;
    height: fit-content;
    width: 100px;
    top: 239px;
    
}
.pushButton:hover{
    background-color:grey;
    cursor:pointer;
    color:azure;
    
}
.watchResult{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 40%;
    left: -46%;
    color: white;
    background-color: chocolate;
    font-size: 20px;
}