*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    height: 100wh;
    background-color: rgb(71, 64, 21);
}
input[type="text"], textarea {
    color: rgb(63, 37, 6);
    width: 150px;
    height: 80px;
    border-radius: 10px;
}
  
.container {
    max-width: 100wh;
}

.field {
    margin-top: -50px;
    padding-top: 50px;
}

.heading {
    height: 50px;
    border-bottom: 1px solid grey;
}

.heading button{
    height: 40px;
    width: 100px;
    float: right;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(91, 189, 151);
}

.note-description{
    height: 160px;
}

.note {
    width: 200px;
    height: 100px;
    background-color: lightyellow;
    color: black;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}

.note .delete-note{
    float: right;
    margin: 2px;
    cursor: pointer;
}

.note .drag-note{
    float: left;
    margin: 2px;
    cursor: move;
    height:10px;
    width:10px;
    padding-right: 15px;
}
